<ion-view view-title="BEES! BEES FOR EVERYONE!">
  <ion-nav-buttons side="right">
    <a ui-sref="newItem" class="button button-icon ion-plus"></a>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item href="#/detail/{{item.id}}" class="item-remove-animate" ng-repeat="item in master.items">
        {{item.name}}
        <ion-option-button class="button-assertive" ng-click="master.removeItem(item)">Delete</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
