<ion-view view-title="Add some bees" >
  <ion-content>
    <form ng-submit="newitem.addNewItem(newitem.beeToAdd)">
      <label class="item item-input">
        <input type="text" placeholder="Bzzzz..." ng-model="newitem.beeToAdd"/>
      </label>
      <img ng-src="newitem.img" ng-if="newitem.img" />
      <button type="submit" class="button button-block">Add that bee</button>
    </form>
    <button class="button button-icon ion-camera" ng-click="newitem.takePicture()">Take Picture</button>
  </ion-content>
</ion-view>
